@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&family=Unbounded:wght@300;400;700&family=Zeyada&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #000;
}

.navbar {
    justify-content: space-evenly;
}

#logo {
    font-family: 'Unbounded', sans-serif;
    font-size: 5em;
    font-weight: 800;
    color: #eee;
}

h1 {
    font-size: 4rem;
}

.tag-line {
    font-family: 'Zeyada', serif;
    color: #aaa;
    text-align: center;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

/* .button {
    font-family: 'Unbounded', sans-serif;
} */

#userInput {
    font-family: 'Zeyada', serif;
    font-size: 24px;
}

#search-form {
    width: 26rem;
    padding: 0;
}

#search-addon {
    background: transparent;
}

.button {
    border-color: transparent;
    color: dodgerblue;
    background: transparent;
}

.button:hover {
    color: #aaa;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;

    /* flex-basis: fit-content;
    flex-direction: column; */
    /* flex-direction: row;
    grid-auto-columns: 36%;
    overflow-x: scroll; */
}

.card img{
    inline-size: 100%;
    border-radius: 2px;
}

.card {
    width: 25rem;
    border-width: 0.1rem;
}

.card iframe{
    inline-size: 100%;
}

#map {
    width: 100%;
}

/* Copyright section */

#copyright {
    font-family: 'Zeyada', sans-serif;
    color: #aaa;
}

@media only screen and (max-width: 580px) {
    .navbar {
        justify-content: center;
    }

    .card {
        width: 20rem;
    }
}