@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&family=Unbounded:wght@300;400;700&family=Zeyada&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 1rem;
    background-image: url("../images/25.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.navbar {
    justify-content: space-between;
}

#logo {
    font-family: 'Unbounded', sans-serif;
}

h1 {
    font-size: 4rem;
}

.tag-line {
    font-family: 'Zeyada', serif;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

.button {
    font-family: 'Unbounded', sans-serif;
}

#userInput {
    font-family: 'Zeyada', serif;
    font-size: 16px;
}

#search-form {
    width: 26rem;
}

.container {
    display: flex;
    flex-direction: row;
    grid-auto-columns: 36%;
    padding: 0.5rem;
    overflow-x: scroll;
}

.container-fluid{
    margin-top: 20px;
}

.card img{
    inline-size: 100%;
    border-radius: 2px;
}

.card {
    width: 25rem;
    border-width: 0.1rem;
}

.card iframe{
    inline-size: 100%;
}

/* custom scroll bar */

#searchResults::-webkit-scrollbar {
	height: 4px;
	background-color: #000;
}

#search-addon {
    background-color:transparent;
}

.fas {
    background-color: transparent;
}

#map {
    width: 100%;
}

/* Copyright section */

#copyright {
    font-family: 'Zeyada', sans-serif;
}

@media only screen and (max-width: 580px) {
    .navbar {
        justify-content: center;
    }

    .card {
        width: 20rem;
    }
}