@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merienda&family=Unbounded:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #000;
}

.navbar {
    justify-content: space-evenly;
}

#logo {
    font-family: 'Unbounded', sans-serif;
    font-size: 5em;
    font-weight: 800;
    color: #eee;
}

h1 {
    font-size: 4rem;
}

.tag-line {
    font-family: 'Courgette', serif;
    color: #aaa;
    text-align: center;
}

p {
    font-family: 'Libre Baskerville', serif;
}

.card-title {
    font-family: 'Courgette', serif;
}

#map-title {
    font-family: 'Courgette', serif;
}

.card {
    height: 99%;
    display: flex;
}

.card-block {
    display: flex;
    justify-content: space-between;
}

.card-body {
    position: relative;
}

.card-footer {
    bottom: 0;
    margin: 0 auto;
}

#userInput {
    font-family: 'Courgette', serif;
    font-size: 16px;
}

#search-form {
    width: 26rem;
    padding: 0;
}

#search-addon {
    background: transparent;
}

.button {
    border-color: transparent;
    color: dodgerblue;
    background: transparent;
}

.button:hover {
    color: #aaa;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.8rem;
    margin-left: 1rem;
    margin-left: 1rem;
}

.card img{
    inline-size: 100%;
    border-radius: 2px;
}

.card {
    width: 24rem;
    border-width: 0.2rem;
}

.card iframe{
    inline-size: 100%;
}

#map {
    width: 100%;
}

/* Copyright section */

#copyright {
    font-family: 'Unbounded', sans-serif;
    color: #aaa;
}

@media only screen and (max-width: 1000px) {
    .navbar {
        justify-content: center;
    }

    #search-form {
        width: 80vw;
        padding: 0;
    }

    .card {
        width: 18rem;
    }

    .container {
        display: flex;
        flex-basis: fit-content;
        flex-direction: row;
        grid-auto-columns: 36%;
        overflow-x: scroll;
    }
}